{% extends 'shop/base.html' %}
{% block title %}صفحه اصلی{% endblock %}
{% block content %}
    <h2>دسته‌بندی‌ها</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <h2>محصولات</h2>
    <div>
        {% for product in products %}
            <div class="product">
                <h3><a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a></h3>
                <p>{{ product.description|truncatewords:20 }}</p>
                <p>قیمت: {{ product.price }} تومان</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                {% endif %}
            </div>
        {% empty %}
            <p>محصولی یافت نشد.</p>
        {% endfor %}
    </div>
{% endblock %}